/* Faherty Brand Typography
 * Primary: Sohne Light (body), Cheltenham Light (headings/display)
 * Licensed fonts served from Shopify CDN
 */

@font-face {
  font-family: 'Sohne Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fahertybrand.com/cdn/shop/t/1224/assets/Sohne-Light.woff2?v=1607662706') format('woff2');
}

@font-face {
  font-family: Sohne;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fahertybrand.com/cdn/shop/t/1224/assets/Sohne-Regular.woff2?v=1727411093') format('woff2');
}

@font-face {
  font-family: 'Sohne Semibold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://fahertybrand.com/cdn/shop/t/1224/assets/Sohne-Kraftig.woff2') format('woff2');
}

@font-face {
  font-family: 'Cheltenham Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fahertybrand.com/cdn/shop/t/1224/assets/CheltenhamStdLight.woff?v=1234') format('woff');
}
